<section>
<div class="container mt-4">
  
  <div class="mb-3">
    <label>Select Date:</label>
    <input type="date" [(ngModel)]="selectedDate"   class="form-control  d-inline-block ms-2"/>  
    <button class="btn btn-primary ms-2"   (click)="filterDate()">Filter</button>
  </div>

  
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Type</th>
      <th (click)="sortByAmount()" style="cursor: pointer;">Amount</th>
      <th>Available Balance</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let txn of filteredTransactions">
        <td>{{ txn.date }}</td>
        <td>{{ txn.description }}</td>
        <td>{{ txn.type }}</td>
        <td>{{ txn.amount }}</td>
        <td>{{ txn.balance }}</td>
      </tr>
    </tbody>
  </table>

</div>
</section>